name: Continuous integration
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: ${{ github.event_name != 'push' || !startsWith(github.ref, 'refs/tags/') }} # Cancel if not a tag push.
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check out wala/ML sources
      uses: actions/checkout@v4
      with:
        submodules: 'recursive'
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    - name: Install Python.
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
        cache: 'pip'
    - name: Install Python dependencies.
      run: pip install -r requirements.txt
    - name: Check formatting with spotless.
      run: mvn spotless:check -B
    - name: Check formatting with Black.
      run: black --fast --check --extend-exclude IDE --extend-exclude jython3 .
    - name: Install Jython3.
      run: |
        pushd jython3
        ant
        pushd dist
        mvn install:install-file -Dfile=./jython-dev.jar -DgroupId="org.python" -DartifactId="jython3" -Dversion="0.0.1-SNAPSHOT" -Dpackaging="jar" -DgeneratePom=true -B
        popd
        popd
      shell: bash
    - name: Install IDE.
      run: |
        pushd IDE/com.ibm.wala.cast.lsp
        mvn install -B -q -DskipTests
        popd
    - name: Build with Maven
      run: mvn -Dlogging.config.file=./logging.ci.properties verify -B -Pjacoco
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: $CODECOV_TOKEN
        slug: ponder-lab/ML
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    - name: Deploy with Maven
      run: mvn -s .ci.settings.xml -Dgithub.username=$GITHUB_USERNAME -Dgithub.password=$GITHUB_TOKEN deploy -DskipTests -B
      env:
        GITHUB_USERNAME: ${{ secrets.GITHUB_USERNAME }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
